<h2 class="heading mb-4">Log In</h2>

<form action="/login" method="POST" autocomplete="off">
  <div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" name="email" placeholder="Email" />
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password" />
  </div>

  <div class="form-group mt-3">
    <button type="submit" class="btn btn-info">Log in</button>
    <p class="exist mt-4">Existing user?
      <a href="/" class="">Sign up</a></p>
  </div>
</form>